<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="web/style.css"/>
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.js"></script>
    <title><%-title %></title>
</head>
<body>
    <header>
        <div class="header">
            <nav>
                <ul>
                <% for(var i = 0; i < data.length; i++) { %>
                    <% if(data[i].status !=0) { %> 
                        <li><a href="<%-data[i].url %>"><%-data[i].name %></a>
                            <% if(data[i].child.length !=0) { %>
                                <ul>
                                    <% for(var j = 0; j < data[i].child.length; j++) { %>
                                    <li><a href="<%-data[i].child[j].url %>"><%-data[i].child[j].name %></a></li>
                                    <% } %>
                                </ul>
                            <% } %>
                        </li>
                    <% } %>
                <% } %>
                </ul>
            </nav>
        </div>
        <div class="message">
            <form>
                <div class="form-list">
                    <label>昵称：</label><input type="text" name="username" id="username" value="" placeholder="请输入您的昵称" />
                </div>
                <div class="form-list">
                    <label>电话：</label><input type="number" name="mobile" id="mobile" value="" placeholder="请输入您的联系电话" />
                </div>
                <div class="form-list">
                    <label>邮箱：</label><input type="email" name="email" id="email" value="" placeholder="请输入您的电子邮箱" />
                </div>
                <div class="form-list">
                    <label>内容：</label>
                    <textarea name="content" id="content" placeholder="请输入您的留言内容"></textarea>
                </div>
                <button type="button" id="submit">提交</button>
            </form>
        </div>
    </header>
    <script>
        var data = '<%- JSON.stringify(data) %>';
        console.log(JSON.parse(data));
        /**/
        $("#submit").on('click',function(){
            var param ={
                username : $("#username").val(),
                mobile : $("#mobile").val(),
                email : $("#email").val(),
                content : $("#content").val(),
            };
            if(param.username=='' || param.content ==''){
                alert('请输入留言信息！');
                return false
            }
            $.ajax({
                type: "post",
                url: "/adminajax/Message",
                data: param,
                dataType: "json",
                success: function (res) {
                    console.log(res)
                }
            });
            return false
        })
    </script>
</body>
</html>